@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}
.nav-container{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    
    
}

.logo-container p{
    font-size: 40px;
    padding-right: 400px;
}
.items-container a{
    padding: 20px;
    text-decoration: none;
}
.follow-btn{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}
.items-container i{
    padding-left: 10px;
    color: #F61C0D;

}
/* nav section end  */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.title-prymari{
font-family: Work Sans;
font-size: 45px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.h1{
    font-size: 30px;
}
.title-box{
    margin: 0;
}
.btn-style1{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-style2{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
}
/* banner section end  */

.game-container{
    max-width: 1100px;
    margin: 0 auto;
}

.game-title{
    margin-left: 400px;
    
    
}
.funny-video{
    display: flex;
    width: 450px;
    height: 300px;
    margin-left: 30px;
    gap: 5px;
   
}
.funny-video img :hover{
    color: #FF42A5;
}
.animation-section{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.img1{
    width: 500px;
    margin-top: 20px;
    margin-right: 50px;
   
}
.img2{
    width: 230px;
    position: absolute;
    top: 70%;
    right: 40%;
}
.h2{
    font-size: 30px;
}
.animation-title{
    margin-left: 30px;
}
/* animation section end  */

.icon{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.icon-btn{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.icon2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    gap: 10px;
    margin-bottom: 30px;
}
/* animation section end  */

.footer-section{
    height: 400px;
    background: #0B0223;
    padding-top: 50px;
    
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}
.footer-description{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: medium;
    color: white;
}

.footer-icon{
    display: flex;
    justify-content: center;
    font-size: medium;
    gap: 20px;
}
.privacy-section{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: small;
    color: #FFFFFF;
}
.copiright-section{
    display: flex;
    justify-content: center;
    font-size: x-small;
    margin-bottom: 50px;
    color: #FFFFFF;
}
