*
.nav-section{
    width: 1120px;
    margin: auto;
    display: flex;
    font-family: Work Sans;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    list-style: ;
    gap: 20px;
    
    
}
.nav-img{
    object-fit: cover;
}
.item:hover{
    color: blue;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;

}

/* nav section end  */
.banner-container{
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 45px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn1{
    display: inline-flex;
padding: 15px 20px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.btn2{
    display: inline-flex;
padding: 15px 20px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}